MP_API=YOUR_MP_API_KEY
SERPER_API_KEY=YOUR_SERPER_API_KEY
PMG_VASP_PSP_DIR=YOUR_POTCAR_DIR

UPSTREAM_MODEL=YOUR_UPSTREAM_MODEL
UPSTREAM_API_BASE=YOUR_UPSTREAM_API_BASE
UPSTREAM_API_KEY=YOUR_UPSTREAM_API_KEY